// $loc-font: '../../dev-common/fonts/';
$loc-font: "https://vwkr-arteon.s3.amazonaws.com/static/fonts/";

$font-name: 'VWHeadWeb-Bold', 'VWHeadWeb-Regular', 'VWTextWeb-Bold', 'VWTextWeb-Regular';

@mixin font-face($font, $weight: normal) {
  font-family: #{$font};
  src: url(#{$loc-font}#{$font}.eot);
  src: url(#{$loc-font}#{$font}.eot?iefix) format("embedded-opentype"),
    url(#{$loc-font}#{$font}.woff) format("woff"),
    url(#{$loc-font}#{$font}.ttf) format("truetype"),
    url(#{$loc-font}#{$font}.svg#webfont) format("svg");
  font-weight: $weight;
  font-style: normal;
}

@each $name in $font-name {
  @font-face {
    @include font-face($name, if($name == 'NotoKR-Bold', 700, normal));
  }
}

// @font-face {
//   font-family: "VWHeadWeb-Bold";
//   src: url(#{$loc-font}VWHeadWeb-Bold.eot);
//   src: url(#{$loc-font}VWHeadWeb-Bold.eot?iefix) format("embedded-opentype"),
//     url(#{$loc-font}VWHeadWeb-Bold.woff) format("woff"),
//     url(#{$loc-font}VWHeadWeb-Bold.ttf) format("truetype"),
//     url(#{$loc-font}VWHeadWeb-Bold.svg#webfont) format("svg");
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: "VWHeadWeb-Regular";
//   src: url(#{$loc-font}VWHeadWeb-Regular.eot);
//   src: url(#{$loc-font}VWHeadWeb-Regular.eot?iefix) format("embedded-opentype"),
//     url(#{$loc-font}VWHeadWeb-Regular.woff) format("woff"),
//     url(#{$loc-font}VWHeadWeb-Regular.ttf) format("truetype"),
//     url(#{$loc-font}VWHeadWeb-Regular.svg#webfont) format("svg");
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: "VWTextWeb-Bold";
//   src: url(#{$loc-font}VWTextWeb-Bold.eot);
//   src: url(#{$loc-font}VWTextWeb-Bold.eot?iefix) format("embedded-opentype"),
//     url(#{$loc-font}VWTextWeb-Bold.woff) format("woff"),
//     url(#{$loc-font}VWTextWeb-Bold.ttf) format("truetype"),
//     url(#{$loc-font}VWTextWeb-Bold.svg#webfont) format("svg");
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: "VWTextWeb-Regular";
//   src: url(#{$loc-font}VWTextWeb-Regular.eot);
//   src: url(#{$loc-font}VWTextWeb-Regular.eot?iefix) format("embedded-opentype"),
//     url(#{$loc-font}VWTextWeb-Regular.woff) format("woff"),
//     url(#{$loc-font}VWTextWeb-Regular.ttf) format("truetype"),
//     url(#{$loc-font}VWTextWeb-Regular.svg#webfont) format("svg");
//   font-weight: normal;
//   font-style: normal;
// }

@font-face {
  font-family: "NotoKR-Regular";
  font-style: normal;
  src: url(#{$loc-font}NotoSansKR-Regular.eot),
    url(#{$loc-font}NotoSansKR-Regular.eot?#iefix) format("embedded-opentype"),
    url(#{$loc-font}NotoSansKR-Regular.woff2) format("woff2"),
    url(#{$loc-font}NotoSansKR-Regular.woff) format("woff");
}

@font-face {
  font-family: "NotoKR-Bold";
  font-style: normal;
  font-weight: 700;
  src: url(#{$loc-font}NotoSansKR-Bold.eot),
    url(#{$loc-font}NotoSansKR-Bold.eot?#iefix) format("embedded-opentype"),
    url(#{$loc-font}NotoSansKR-Bold.woff2) format("woff2"),
    url(#{$loc-font}NotoSansKR-Bold.woff) format("woff");
}
@font-face {
  font-family: "NotoSans-Light";
  src: url(#{$loc-font}NotoSansCJKkr-Light.otf);
}
